@model IEnumerable<Tarefa>

<div class="row">
    <div class="col-md-2">
        <form asp-action="Filtrar" asp-controller="Home" method="post">

            <div class="mb-3">
                <label class="form-label">Categoria:</label>
                <select
                    name="filtro"
                    class="form-select"
                    asp-items="@(new SelectList(ViewBag.Categorias, "CategoriaId", "Nome", ViewBag.Filtros.CategoriaId))"
                >
                <option value="todos">Todos</option>
                </select>
            </div>
        </form>
    </div>
    <div class="col-md-10">
    </div>
</div>